{% extends 'base.html' %}

{% block content %}

<div class="container mt-2">
    <div class="row justify-content-center">
        <div class="col" style="text-align: center;">
            <h1>Snippet Server</h1>
            <h6>Daily image/video selection from your media storage</h6>
        </div>
    </div>
    <div class="row justify-content-center m-4">
        <div class="col" style="text-align: center">
            {% if image_name %}
                <button
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#imageViewModal"
                >
                    Image of the day
                </button>
            {% else %}
                No image found!
            {% endif %}
        </div>

        <div class="col" style="text-align: center">
            {% if video_name %}
                <button
                    class="btn btn-success"
                    data-bs-toggle="modal"
                    data-bs-target="#videoViewModal"
                >
                    Video of the day
                </button>
            {% else %}
                No video found!
            {% endif %}
        </div>
    </div>
</div>

<div class="fs-6 text-muted bottom">
    {% if refresh_media_datetime %}
        Updated at {{refresh_media_datetime}}
    {% endif %}
</div>

<!-- Image popup window-->
{% if image_name %}
    <div id="imageViewModal" class="modal fade" tabindex="-1" aria-labelledby="imageViewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageViewModalLabel">{{image_name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <img
                            class="img-fluid"
                            src="{{url_for('static', filename='media/' + image_name)}}"
                        >
                    </div>
                </div>
                <div class="modal-footer">
                    <a
                        class="btn btn-primary" 
                        role="button"
                        href="{{url_for('static', filename='media/' + image_name)}}"
                        download
                    >
                        Download
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- Video popup window-->
{% if video_name %}
    <div id="videoViewModal" class="modal fade" tabindex="-1" aria-labelledby="videoViewModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoViewModalLabel">{{video_name}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex justify-content-center">
                        <video controls class="img-fluid">
                            <source src="{{url_for('static', filename='media/' + video_name)}}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="modal-footer">
                    <a
                        class="btn btn-primary" 
                        role="button"
                        href="{{url_for('static', filename='media/' + video_name)}}"
                        download
                    >
                        Download
                    </a>
                </div>
                <!-- TODO: Would be nice to be able to click a button to view the whole video  -->
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
